.contact {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 10%;
  margin-bottom: 100px;
}

.contact p {
  margin-top: 0;
  margin-bottom: 3px;
  padding-left: 3px;
}
.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-item svg,
.contact-item .icon {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 24px !important;
  margin-bottom: 5px;
}

.booking {
  padding-right: 20px;
  flex: 1;
}
.mgmt {
  flex: 1;
}

@media (min-width: 1000px) {
  .contact {
    flex-direction: row;
    padding-left: 0%;
  }
}
