@font-face {
  font-family: 'aileronlight';
  src: url('../fonts/Aileron-Light-webfont.eot');
  src:
    url('../fonts/Aileron-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Aileron-Light-webfont.woff') format('woff'),
    url('../fonts/Aileron-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileronlight';
  src: url('../fonts/Aileron-LightItalic-webfont.eot');
  src:
    url('../fonts/Aileron-LightItalic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Aileron-LightItalic-webfont.woff') format('woff'),
    url('../fonts/Aileron-LightItalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'aileronregular';
  src: url('../fonts/Aileron-Regular-webfont.eot');
  src:
    url('../fonts/Aileron-Regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Aileron-Regular-webfont.woff') format('woff'),
    url('../fonts/Aileron-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileronbold';
  src: url('../fonts/Aileron-Bold-webfont.eot');
  src:
    url('../fonts/Aileron-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Aileron-Bold-webfont.woff') format('woff'),
    url('../fonts/Aileron-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 420px) {
  h1 {
    color: #ffffff;
    font-family: 'aileronlight';
    font-size: 270%;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  }

  h2 {
    color: #ffffff;
    font-family: 'aileronlight';
    font-size: 170%;
    font-style: italic;
    text-transform: uppercase;
  }

  h3 {
    color: #ffffff;
    font-family: 'aileronbold';
    font-size: 100%;
    font-style: italic;
    text-transform: uppercase;
  }

  p {
    color: #ffffff;
    font-family: 'aileronregular';
    font-size: 80%;
  }
}

@media screen and (min-width: 420px) {
  h1 {
    color: #ffffff;
    font-family: 'aileronlight';
    font-size: 400%;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
  }

  h2 {
    color: #ffffff;
    font-family: 'aileronlight';
    font-size: 300%;
    font-style: italic;
    text-transform: uppercase;
  }

  h3 {
    color: #ffffff;
    font-family: 'aileronbold';
    font-size: 100%;
    font-style: italic;
    text-transform: uppercase;
  }

  p {
    color: #ffffff;
    font-family: 'aileronregular';
    font-size: 90%;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    color: #ffffff;
    font-family: 'aileronlight';
    font-size: 200%;
    font-style: italic;
    text-transform: uppercase;
  }

  h2 {
    color: #ffffff;
    font-family: 'aileronlight';
    font-size: 400%;
    font-style: italic;
    text-transform: uppercase;
  }

  h3 {
    color: #ffffff;
    font-family: 'aileronbold';
    font-size: 150%;
    font-style: normal;
    text-transform: uppercase;
  }

  p {
    color: #ffffff;
    font-family: 'aileronregular';
    font-size: 120%;
    padding-left: 10px;
  }
}

ol {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

li {
  color: #ffffff;
  font-family: 'aileronregular', sans-serif;
  font-style: italic;
  font-size: 120%;
}

.tracks {
  color: #ffffff;
  font-family: 'aileronlight', sans-serif;
  font-style: italic;
  font-size: 100%;
  text-transform: capitalize;
}
.booking {
  color: #ffffff;
  font-family: 'aileronregular', sans-serif;
}

figcaption {
  color: #d12917;
  font-family: 'aileronregular', sans-serif;
  font-size: 80%;
}

a:link {
  color: #d12917;
  text-decoration: none;
}
a:visited {
  color: #d12917;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  text-decoration: none;
}
a:active {
  color: blue;
}
#footer {
  text-align: center;
  padding: 20px;
}
