.mvContainer {
  flex-direction: column;

  list-style-type: none;
  padding: 0;
}
.mvContainer li {
  flex: 1;
  margin: 10px;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.mvContainer iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border: 0px;
}
@media (min-width: 1000px) {
  .mvContainer {
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  .mvContainer li {
    flex: 1 1 calc(50% - 100px); /* Two columns with some spacing */
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
  }
}
