.past-event-details {
  display: grid;
  grid-template-columns: 0.6fr 0.05fr 3fr 1fr;
  gap: 5px;
  align-items: flex-start; /* Corrected alignment */

  border-bottom: 1px solid white;
  color: #ffffff;
  grid-template-rows: auto;
}
.past-event-details:hover {
  color: #ffffff;
}
.year {
  font-style: normal;
}
@media screen and (max-width: 550px) {
  .past-event-details {
    grid-template-columns: 0.6fr 0.05fr 3fr 1fr;
  }
}
