.event-container {
  display: grid;
  gap: 0px;
  width: 100%;
  color: #ffffff;
  font-family: 'aileronlight';
  margin-bottom: 10px;
}

.event-details {
  display: grid;
  grid-template-columns: 0.6fr 0.05fr 3fr 1fr;
  gap: 5px;
  align-items: flex-start;
  border-bottom: 1px solid rgb(78, 78, 78);
  color: #ffffff;
  grid-template-rows: auto;
}
.event-details:hover {
  color: #d12917;
}

.date-cell {
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  font-size: large;
  grid-column: span 1;
  grid-row: span 2;
  margin-top: 18px;
}

.flag-cell {
  font-size: xx-large;
  text-align: left;
  margin-bottom: -5px;
  margin-top: 25%;
}

.city-cell {
  font-size: xx-large;
  text-align: left;
  margin-bottom: 3px;
  margin-top: 1.2%;
}

.ticket-cell {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: large;
  margin-top: 18px;
  margin-right: 15%;
  grid-row: span 2;
}
.venue-name {
  font-style: italic;
  text-align: left;
  text-transform: uppercase;
  margin-top: -5px;
  padding-top: 0px;
  margin-bottom: 5px;
  grid-column: span 2;
}

@media screen and (max-width: 550px) {
  .date-cell {
    text-align: center;
    font-size: medium;
    margin-top: 5px;
    margin-right: 1px;
    grid-row: span 2;
  }
  .flag-cell,
  .city-cell {
    margin-top: 0px;
    font-size: x-large;
  }
  .event-details {
    grid-template-columns: 0.7fr 0.05fr 3fr 1fr;
  }
  .ticket-cell {
    margin-top: 5px;
    margin-right: 0;
    font-size: medium;
  }
  .venue-name {
    margin-top: -10px;
    font-size: small;
  }
}
