.someContainer {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.someContainer li {
  margin-right: 20px;
  margin-left: 20px;
  align-content: center;
}

.someContainer li a {
  text-decoration: none;
  color: inherit;
  font-size: 30px;
}
